@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #E5E5E5;
  padding: 16px;
}
.card-container {
  background: #FFFFFF;
  box-shadow: 0px 4px 35px rgba(154, 161, 171, 0.1);
  border-radius: 3px;
  padding: 16px;
}
h1 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #343A40;
}

.accordion-head {
  .accordion-button {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #343A40;
  }
}

.card-wrapper {
  .card-row {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #DEE2E6;
    padding-bottom: 16px;
    .card-col {
      margin-right: 16px;
      label {
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #343A40;
        margin-bottom: 7px;
      }
    }
  }
}


.primary-dropdown {
  .btn {
    min-width: 180px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #B5B8BE;
    text-align: left;
    padding: 0px 15px;
  }
}

.success-btn {
  padding: 6px 12px;
  height: 28px;
  top: 24px;
  background: #36A45E;
  border-radius: 3px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.bg-success {
  padding: 3px 8px;
  height: 20px;
  background-color: #D4F4D1 !important;
  border-radius: 3px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #36A45E;
}

.sml-btn {
  height: 24px;
}

.data-table-wrapper {
  padding-top: 16px;
  .table-header {
    .table-header-left {
      display: flex;
      .sml-btn {
        margin-left: 16px;
      }
    }
    .table-header-right {
      text-align: right;
      span {
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #36A45E;
      }
    }
  }
}

.add-filter {
  margin-top: 16px;
  .filter-btn {
    padding: 0px 12px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 3px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #343A40;
  }
}
